<% layout('layouts/boilerplate') %>




<div class="container " >
        <div class="row">
              <div class="col-md-6 offset-md-3">
                      <div class="card shadow" style="background-color: rgb(164, 168, 167);">
                              <div class="card-title mx-auto">
                                   <h1>Login</h1>   
                              </div>
                              
                          <div class="card-body" >
                                <form action="/login" method="POST" class="validated-form" novalidate>
                                        <div class="mb-3">
                                                <label class="form-label" for="username" >Username</label>
                                                <input class="form-control" type="text" name="username" id="username" required>
                                        </div>
                                       
                                        <div class="mb-3">
                                          <label class="form-label"  for="password">Password</label>
                                          <input class="form-control" type="password" name="password" id="password" required>
                                   </div>
                             <!--      <button class="btn btn-outline-success ">Login</button>  -->
                                   <div class="d-grid gap-2 col-15 mx-auto mt-4">
                                        <button class="btn btn-success" >Login</button>
                                        
                                   </div>
                              </form>
                          </div>
                      </div>
              </div>  
        </div>
</div>